@model IEnumerable<AracKiralama.Entities.Arac>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sirket.SirketAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AracAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EhliyetYasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinYasSiniri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GunlukSinirKM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KendiAnlikKM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirBag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BagajHacmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KoltukSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GunlukKiralikFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rezerve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sirket.SirketAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AracAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EhliyetYasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinYasSiniri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GunlukSinirKM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KendiAnlikKM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirBag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BagajHacmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KoltukSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GunlukKiralikFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rezerve)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AracId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AracId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AracId })
        </td>
    </tr>
}

</table>
