@model AracKiralama.Entities.Rezervasyon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rezervasyon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Arac.AracAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac.AracAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kullanici.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kullanici.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RezerveTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RezerveTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rezerved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rezerved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RezerveId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
