@model IEnumerable<AracKiralama.Entities.Rezervasyon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Arac.AracAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RezerveTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rezerved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Arac.AracAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RezerveTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rezerved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RezerveId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RezerveId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RezerveId })
        </td>
    </tr>
}

</table>
